.sidebar_wrapper {
  width: 25%;
  position: sticky;
  left: 0;
  top: 0;
  border-radius: 16px;
  padding: 32px;
  min-height: 85vh;

  background: rgb(14, 18, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar_menu {
  border-radius: 8px;
  width: 100%;
  background: rgba(160, 182, 255, 0.05);
}

.sidebar_menu_item {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 16px;
  border-left: 3px solid transparent;
  transition: all 0.4s ease;
}
.sidebar_menu_item:hover {
  background: rgba(160, 182, 255, 0.05);
}
.sidebar_menu_item.active {
  background: rgba(160, 182, 255, 0.05);
  border-left: 3px solid rgb(68, 112, 254);
}

.active_menu_icon {
  display: none;
}
.sidebar_menu_item.active .active_menu_icon {
  display: block;
}

.sidebar_menu_item.active .defalt_menu_icon {
  display: none;
}

.sidebar_menu_item p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.sidebar_menu_item.active p {
  color: rgb(68, 112, 254);

  font-size: 16px;
  font-weight: 600;
}

.sidebar_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 70px;
}
.sidebar_btns .main_btn {
  width: 100%;
}

.sidebar_actions {
  width: 100%;
}

.sidebar_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sidebar_socials a {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}

@media only screen and (max-width: 1050px) {
  .sidebar_wrapper {
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar_wrapper {
    width: 100%;
    position: static;
    height: auto;
    min-height: auto;
    padding: 0;
    border-radius: 0;
    overflow: auto;
  }
  .sidebar_wrapper .sidebar_actions {
    display: none;
  }
  .sidebar_menu {
    display: flex;
    align-items: center;
  }
  .sidebar_menu_item {
    padding: 16px;
    border-left: 0;
    border-bottom: 3px solid transparent;
  }
  .sidebar_menu_item p {
    font-size: 14px;
  }
  .sidebar_menu_item.active {
    background: rgba(160, 182, 255, 0.05);
    border-left: 0;
    border-bottom: 3px solid rgb(68, 112, 254);
  }
  .sidebar_menu_item.active p {
    font-size: 14px;
  }
  .sidebar_menu {
    background: transparent;
  }
}
