nav {
  background: rgba(160, 182, 255, 0.05);
  padding: 16px;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mob_sm_chain {
  display: none;
}
.mob_menu {
  display: none;
}
.mob_menu_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(4, 7, 14);
  z-index: 1;
  transition: all 0.4s ease;
  transform: translateX(100%);
}
.visible_mob_menu_modal {
  transition: all 0.4s ease;
  transform: translateX(0);
}
.mob_menu_modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0 12px;
  padding-top: 100px;
}
.mob_menu_modal_content .sidebar_btns {
  margin-bottom: 20px;
}
.mob_menu_modal_exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  padding-right: 10px;
}
.mob_menu_modal_exit .exit_modal {
  background: transparent;
}
@media only screen and (max-width: 500px) {
  nav {
    padding: 24px 0;
  }
  .nav_logo svg {
    width: 70px;
    height: 70px;
  }
  .nav_btns .chain_btn,
  .nav_btns .settings_btn {
    display: none;
  }
  .page_wrapper {
    display: flex;
    flex-direction: column;
  }
  .mob_sm_chain {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding: 0 10px;
  }
  .mob_sm_chain button {
    width: 100%;
  }
  .mob_menu {
    display: flex !important;
    margin: 0;
  }
  .nav_btns {
    gap: 12px;
  }
}
